In [1]:
from sklearn import tree
import pandas as pd
import os
import pickle

In [2]:
df = pd.read_csv(os.path.join("..", "Resources", "movies_final.csv"))
df.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley,budgetbin_0,budgetbin_1,budgetbin_2,Profitable
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [3]:
data = df.drop("Profitable", axis=1)
feature_names = data.columns
data.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,actor_name_William Holden,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley,budgetbin_0,budgetbin_1,budgetbin_2
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
target = df['Profitable']
# target_names = ["loss", "low", "medium", "high"]

In [6]:
from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=1, stratify=target)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [8]:
#train the model
classifier.fit(X_train, y_train)

C:\Users\naras\Miniconda3\envs\ml-env\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [9]:
#test the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9438943894389439
Testing Data Score: 0.7821782178217822

In [12]:
# Dump the trained decision tree classifier with Pickle
lr_pkl_filename = '../Resources/logistic_regression_classifier_movie.pkl'
# Open the file to save as pkl file
lr_model_pkl = open(lr_pkl_filename, 'wb')
pickle.dump(classifier, lr_model_pkl)
# Close the pickle instances
lr_model_pkl.close()

In [15]:
# Load the Randon Forest model pickle
lr_model_pkl = open('../Resources/logistic_regression_classifier_movie.pkl', 'rb')
lr_model = pickle.load(lr_model_pkl)

In [ ]:
# y_train.iloc[3]
# X_train.iloc[3,:]

In [21]:
predictction = lr_model.predict(X_train.iloc[15,:].values.reshape(1, -1))
predictction[0]
# X_train.iloc[0,:].values.reshape(1, -1)

0

In [ ]:
# X_train.head()
[X_train.iloc[0,:].values]

In [ ]:
rf_model.get_params()