In [32]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
# Read the csv file into a pandas DataFrame

movie_genres = pd.read_csv('../Resources/movies_genres.csv')
movie_genres.head()

   movie_id genres_name
0       862   Animation
1       862      Comedy
2       862      Family
3      8844   Adventure
4      8844     Fantasy

In [3]:
data = movie_genres.copy()

movie_genres_binary_encoded = pd.get_dummies(data, columns=["genres_name"])
movie_genres_binary_encoded.head()

,movie_id,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,...,genres_name_History,genres_name_Horror,genres_name_Music,genres_name_Mystery,genres_name_Romance,genres_name_Science Fiction,genres_name_TV Movie,genres_name_Thriller,genres_name_War,genres_name_Western
0,862,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,862,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,862,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,8844,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8844,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
movie_genres_binary_encoded_sum = movie_genres_binary_encoded.groupby('movie_id').sum()

In [5]:
movie_genres_binary_encoded_sum.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,genres_name_History,genres_name_Horror,genres_name_Music,genres_name_Mystery,genres_name_Romance,genres_name_Science Fiction,genres_name_TV Movie,genres_name_Thriller,genres_name_War,genres_name_Western
movie_id,,,,,,,,,,,,,,,,,,,,
5,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
11,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
12,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
14,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [6]:
# movie_genres_binary_encoded_sum.count()

In [7]:
# Read the csv file into a pandas DataFrame
movie_directors = pd.read_csv('../Resources/movies_directors.csv')
movie_directors.head()

   movie_id        crew_name
0     11860   Sydney Pollack
1     10858     Oliver Stone
2       524  Martin Scorsese
3     11448      Woody Allen
4     10534     Ridley Scott

In [8]:
data = movie_directors.copy()
movie_directors_binary_encoded = pd.get_dummies(data, columns=["crew_name"])
movie_directors_binary_encoded.head()

,movie_id,crew_name_Abbas Kiarostami,crew_name_Abel Ferrara,crew_name_Adam McKay,crew_name_Adam Shankman,crew_name_Adrian Lyne,crew_name_Aki Kaurismäki,crew_name_Akira Kurosawa,crew_name_Akiva Goldsman,crew_name_Akiva Schaffer,...,crew_name_William Keighley,crew_name_William Wyler,crew_name_Wim Wenders,crew_name_Wolfgang Petersen,crew_name_Woody Allen,crew_name_Wych Kaosayananda,crew_name_Yasujirō Ozu,crew_name_Zack Snyder,crew_name_Zhang Yimou,crew_name_Éric Rohmer
0,11860,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10858,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,524,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,11448,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,10534,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
movie_directors_binary_encoded_sum = movie_directors_binary_encoded.groupby('movie_id').sum()

In [10]:
movie_directors_binary_encoded_sum.head()

,crew_name_Abbas Kiarostami,crew_name_Abel Ferrara,crew_name_Adam McKay,crew_name_Adam Shankman,crew_name_Adrian Lyne,crew_name_Aki Kaurismäki,crew_name_Akira Kurosawa,crew_name_Akiva Goldsman,crew_name_Akiva Schaffer,crew_name_Alain Resnais,...,crew_name_William Keighley,crew_name_William Wyler,crew_name_Wim Wenders,crew_name_Wolfgang Petersen,crew_name_Woody Allen,crew_name_Wych Kaosayananda,crew_name_Yasujirō Ozu,crew_name_Zack Snyder,crew_name_Zhang Yimou,crew_name_Éric Rohmer
movie_id,,,,,,,,,,,,,,,,,,,,,
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
movies_merged = pd.merge(movie_genres_binary_encoded_sum, movie_directors_binary_encoded_sum, on='movie_id')

In [12]:
movies_merged.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,crew_name_William Keighley,crew_name_William Wyler,crew_name_Wim Wenders,crew_name_Wolfgang Petersen,crew_name_Woody Allen,crew_name_Wych Kaosayananda,crew_name_Yasujirō Ozu,crew_name_Zack Snyder,crew_name_Zhang Yimou,crew_name_Éric Rohmer
movie_id,,,,,,,,,,,,,,,,,,,,,
12,0,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Read the csv file into a pandas DataFrame
movie_actors = pd.read_csv('../Resources/movies_actors.csv')
movie_actors.head()

   movie_id      actor_name
0       862       Tom Hanks
1       862   Wallace Shawn
2       862  Laurie Metcalf
3       862    R. Lee Ermey
4      8844  Robin Williams

In [14]:
data = movie_actors.copy()
movie_actors_binary_encoded = pd.get_dummies(data, columns=["actor_name"])
movie_actors_binary_encoded.head()

,movie_id,actor_name_Aidan Quinn,actor_name_Al Pacino,actor_name_Alan Arkin,actor_name_Alan Cumming,actor_name_Albert Brooks,actor_name_Alec Baldwin,actor_name_Alfre Woodard,actor_name_Alfred Hitchcock,actor_name_Alfred Molina,...,actor_name_William Forsythe,actor_name_William H. Macy,actor_name_William Hickey,actor_name_William Holden,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley
0,862,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,862,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,862,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,862,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8844,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
movie_actors_binary_encoded_sum = movie_actors_binary_encoded.groupby('movie_id').sum()

In [16]:
movie_actors_binary_encoded_sum.head()

,actor_name_Aidan Quinn,actor_name_Al Pacino,actor_name_Alan Arkin,actor_name_Alan Cumming,actor_name_Albert Brooks,actor_name_Alec Baldwin,actor_name_Alfre Woodard,actor_name_Alfred Hitchcock,actor_name_Alfred Molina,actor_name_Alice Drummond,...,actor_name_William Forsythe,actor_name_William H. Macy,actor_name_William Hickey,actor_name_William Holden,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley
movie_id,,,,,,,,,,,,,,,,,,,,,
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
movies_merged_1 = pd.merge(movies_merged, movie_actors_binary_encoded_sum, on='movie_id')
movies_merged_1.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,actor_name_William Forsythe,actor_name_William H. Macy,actor_name_William Hickey,actor_name_William Holden,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley
movie_id,,,,,,,,,,,,,,,,,,,,,
13,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
66,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# Read the csv file into a pandas DataFrame
movie_finance = pd.read_csv('../Resources/movies_profit_categorization.csv')
# movie_finance = movie_finance.set_index('movie_id')
movie_finance.head()

   movie_id  ProfitabilityPct  budget  budgetbin  Profitable
0       220        400.000000       1          0           1
1       473       5268.586667   60000          0           1
2       692      49900.000000   12000          0           1
3       985      69900.000000   10000          0           1
4      1435     532933.944954     218          0           1

In [24]:
data = movie_finance.copy()
movie_finance_binary_encoded = pd.get_dummies(data, columns=["budgetbin"])
movie_finance_binary_encoded.head()

,movie_id,ProfitabilityPct,budget,Profitable,budgetbin_0,budgetbin_1,budgetbin_2
0,220,400.000000,1,1,1,0,0
1,473,5268.586667,60000,1,1,0,0
2,692,49900.000000,12000,1,1,0,0
3,985,69900.000000,10000,1,1,0,0
4,1435,532933.944954,218,1,1,0,0

In [28]:
movie_profitability = movie_finance_binary_encoded.filter(['movie_id','budgetbin_0','budgetbin_1','budgetbin_2','Profitable'], axis=1)
movie_profitability = movie_profitability.set_index('movie_id')
movie_profitability.head()

          budgetbin_0  budgetbin_1  budgetbin_2  Profitable
movie_id
220                 1            0            0           1
473                 1            0            0           1
692                 1            0            0           1
985                 1            0            0           1
1435                1            0            0           1

In [29]:
movies_merged_2 = pd.merge(movies_merged_1, movie_profitability, on='movie_id')
movies_merged_2.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley,budgetbin_0,budgetbin_1,budgetbin_2,Profitable
movie_id,,,,,,,,,,,,,,,,,,,,,
13,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
18,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
28,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
66,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [40]:
movies_merged_2.to_csv("../Resources/movies_final.csv", index=False)

In [41]:
df = pd.read_csv(os.path.join("..", "Resources", "movies_final.csv"))
df.head()

,genres_name_Action,genres_name_Adventure,genres_name_Animation,genres_name_Comedy,genres_name_Crime,genres_name_Documentary,genres_name_Drama,genres_name_Family,genres_name_Fantasy,genres_name_Foreign,...,actor_name_William Hurt,actor_name_William Shatner,actor_name_Winona Ryder,actor_name_Woody Allen,actor_name_Woody Harrelson,actor_name_Xander Berkeley,budgetbin_0,budgetbin_1,budgetbin_2,Profitable
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
1,1,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,1
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
4,0,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [42]:
column_index = list(df.columns.values)
column_index

['genres_name_Action',
 'genres_name_Adventure',
 'genres_name_Animation',
 'genres_name_Comedy',
 'genres_name_Crime',
 'genres_name_Documentary',
 'genres_name_Drama',
 'genres_name_Family',
 'genres_name_Fantasy',
 'genres_name_Foreign',
 'genres_name_History',
 'genres_name_Horror',
 'genres_name_Music',
 'genres_name_Mystery',
 'genres_name_Romance',
 'genres_name_Science Fiction',
 'genres_name_TV Movie',
 'genres_name_Thriller',
 'genres_name_War',
 'genres_name_Western',
 'crew_name_Abbas Kiarostami',
 'crew_name_Abel Ferrara',
 'crew_name_Adam McKay',
 'crew_name_Adam Shankman',
 'crew_name_Adrian Lyne',
 'crew_name_Aki Kaurismäki',
 'crew_name_Akira Kurosawa',
 'crew_name_Akiva Goldsman',
 'crew_name_Akiva Schaffer',
 'crew_name_Alain Resnais',
 'crew_name_Alan J. Pakula',
 'crew_name_Alan Parker',
 'crew_name_Alan Taylor',
 'crew_name_Albert Hughes',
 'crew_name_Albert Magnoli',
 'crew_name_Albert Pyun',
 'crew_name_Alejandro Amenábar',
 'crew_name_Alejandro González Iñárritu',
 'crew_name_Alessandro Carloni',
 'crew_name_Alex Kurtzman',
 'crew_name_Alex Proyas',
 'crew_name_Alfonso Cuarón',
 'crew_name_Alfred Hitchcock',
 'crew_name_Allen Hughes',
 'crew_name_Anatole Litvak',
 'crew_name_Andrei Konchalovsky',
 'crew_name_Andrew Adamson',
 'crew_name_Andrew Davis',
 'crew_name_Andrew Stanton',
 'crew_name_Andrew V. McLaglen',
 'crew_name_Andrzej Bartkowiak',
 'crew_name_Andy Tennant',
 'crew_name_Ang Lee',
 'crew_name_Angelina Jolie',
 'crew_name_Angus MacLane',
 'crew_name_Anthony Hemingway',
 'crew_name_Anthony Mann',
 'crew_name_Anthony Minghella',
 'crew_name_Anthony Russo',
 'crew_name_Anthony Stacchi',
 'crew_name_Antoine Fuqua',
 'crew_name_Antonio Margheriti',
 'crew_name_Antony Hoffman',
 'crew_name_Arthur Hiller',
 'crew_name_Ash Brannon',
 'crew_name_Babak Najafi',
 'crew_name_Baltasar Kormákur',
 'crew_name_Barry Cook',
 'crew_name_Barry Levinson',
 'crew_name_Barry Sonnenfeld',
 'crew_name_Baz Luhrmann',
 'crew_name_Ben Affleck',
 'crew_name_Ben Stiller',
 'crew_name_Betty Thomas',
 'crew_name_Bibo Bergeron',
 'crew_name_Bill Condon',
 'crew_name_Billy Wilder',
 'crew_name_Björn Stein',
 'crew_name_Blake Edwards',
 'crew_name_Bobby Farrelly',
 'crew_name_Brad Bird',
 'crew_name_Brad Lewis',
 'crew_name_Brad Peyton',
 'crew_name_Brad Silberling',
 'crew_name_Breck Eisner',
 'crew_name_Brenda Chapman',
 'crew_name_Brett Ratner',
 'crew_name_Brian De Palma',
 'crew_name_Brian Fee',
 'crew_name_Brian Helgeland',
 'crew_name_Brian Levant',
 'crew_name_Brian Robbins',
 'crew_name_Brian Taylor',
 'crew_name_Bronwen Hughes',
 'crew_name_Bruce Beresford',
 'crew_name_Bryan Singer',
 'crew_name_Buster Keaton',
 'crew_name_Byron Howard',
 'crew_name_Cameron Crowe',
 'crew_name_Carl Rinsch',
 'crew_name_Carlo Verdone',
 'crew_name_Carlos Saldanha',
 'crew_name_Carlos Saura',
 'crew_name_Cecil B. DeMille',
 'crew_name_Cedric Nicolas-Troyan',
 'crew_name_Chang Cheh',
 'crew_name_Charles Band',
 'crew_name_Charles Shyer',
 'crew_name_Charlie Chaplin',
 'crew_name_Chris Buck',
 'crew_name_Chris Butler',
 'crew_name_Chris Columbus',
 'crew_name_Chris McKay',
 'crew_name_Chris Miller',
 'crew_name_Chris Renaud',
 'crew_name_Chris Sanders',
 'crew_name_Chris Wedge',
 'crew_name_Chris Weitz',
 'crew_name_Chris Williams',
 'crew_name_Christopher McQuarrie',
 'crew_name_Christopher Miller',
 'crew_name_Christopher Nolan',
 'crew_name_Chuck Jones',
 'crew_name_Chuck Russell',
 'crew_name_Clarence Brown',
 'crew_name_Clark Johnson',
 'crew_name_Claude Chabrol',
 'crew_name_Clay Kaytis',
 'crew_name_Clint Eastwood',
 'crew_name_Cody Cameron',
 'crew_name_Colin Trevorrow',
 'crew_name_Conrad Vernon',
 'crew_name_Craig Gillespie',
 'crew_name_D.J. Caruso',
 'crew_name_D.W. Griffith',
 'crew_name_Dan Bradley',
 'crew_name_Dan Scanlon',
 'crew_name_Dan St. Pierre',
 'crew_name_Daniel Espinosa',
 'crew_name_Daniel Lee',
 'crew_name_Danny Cannon',
 'crew_name_Darren Aronofsky',
 'crew_name_Dave Green',
 'crew_name_David Ayer',
 'crew_name_David Bowers',
 'crew_name_David Butler',
 'crew_name_David Cronenberg',
 'crew_name_David Dobkin',
 'crew_name_David Fincher',
 'crew_name_David Frankel',
 'crew_name_David Koepp',
 'crew_name_David Lowery',
 'crew_name_David Lynch',
 'crew_name_David O. Russell',
 'crew_name_David S. Goyer',
 'crew_name_David Silverman',
 'crew_name_David Slade',
 'crew_name_David Soren',
 'crew_name_David Twohy',
 'crew_name_David Yates',
 'crew_name_Dean DeBlois',
 'crew_name_Dean Israelite',
 'crew_name_Dean Parisot',
 'crew_name_Demian Lichtenstein',
 'crew_name_Dennis Dugan',
 'crew_name_Des McAnuff',
 'crew_name_Dino Risi',
 'crew_name_Dominic Sena',
 'crew_name_Don Bluth',
 'crew_name_Don Hahn',
 'crew_name_Don Hall',
 'crew_name_Don Michael Paul',
 'crew_name_Don Siegel',
 'crew_name_Donald Petrie',
 'crew_name_Doug Lefler',
 'crew_name_Doug Liman',
 'crew_name_Doug Sweetland',
 'crew_name_Douglas Sirk',
 'crew_name_Duncan Jones',
 'crew_name_Edgar Wright',
 'crew_name_Edward Dmytryk',
 'crew_name_Edward F. Cline',
 'crew_name_Edward Zwick',
 'crew_name_Elaine May',
 'crew_name_Enzo G. Castellari',
 'crew_name_Eric Brevig',
 'crew_name_Eric Darnell',
 'crew_name_Eric Goldberg',
 'crew_name_Eric Leighton',
 'crew_name_Ericson Core',
 'crew_name_Ernst Lubitsch',
 'crew_name_Espen Sandberg',
 'crew_name_F. Gary Gray',
 'crew_name_Federico Fellini',
 'crew_name_Fergal Reilly',
 'crew_name_Florent-Emilio Siri',
 'crew_name_Florian Henckel von Donnersmarck',
 'crew_name_Francis Ford Coppola',
 'crew_name_Francis Glebas',
 'crew_name_Francis Lawrence',
 'crew_name_Frank Borzage',
 'crew_name_Frank Capra',
 'crew_name_Frank Coraci',
 'crew_name_Frank Darabont',
 'crew_name_Frank Miller',
 'crew_name_Frank Oz',
 'crew_name_François Truffaut',
 'crew_name_Frederick Wiseman',
 'crew_name_Fritz Lang',
 'crew_name_Frédéric Forestier',
 'crew_name_Félix Enríquez Alcalá',
 'crew_name_Gabriele Muccino',
 'crew_name_Galen T. Chu',
 'crew_name_Gareth Edwards',
 'crew_name_Garry Marshall',
 'crew_name_Garth Jennings',
 'crew_name_Gary Fleder',
 'crew_name_Gary Goldman',
 'crew_name_Gary McKendry',
 'crew_name_Gary Ross',
 'crew_name_Gary Shore',
 'crew_name_Gary Sinyor',
 'crew_name_Gary Trousdale',
 'crew_name_Gary Winick',
 'crew_name_Gavin Hood',
 'crew_name_Gaëtan Brizzi',
 'crew_name_Genndy Tartakovsky',
 'crew_name_Geoff Murphy',
 'crew_name_George Clooney',
 'crew_name_George Cukor',
 'crew_name_George Lucas',
 'crew_name_George Marshall',
 'crew_name_George Miller',
 'crew_name_George Nolfi',
 'crew_name_George Sidney',
 'crew_name_George Stevens',
 'crew_name_Georges Méliès',
 'crew_name_Gerald Thomas',
 'crew_name_Gil Kenan',
 'crew_name_Glenn Ficarra',
 'crew_name_Gordon Douglas',
 'crew_name_Gore Verbinski',
 'crew_name_Graham Annable',
 'crew_name_Gregory Hoblit',
 'crew_name_Griffin Dunne',
 'crew_name_Guillermo del Toro',
 'crew_name_Gus Van Sant',
 'crew_name_Guy Ritchie',
 'crew_name_Gábor Csupó',
 'crew_name_Harald Zwart',
 'crew_name_Harold Becker',
 'crew_name_Harold Ramis',
 'crew_name_Hendel Butoy',
 'crew_name_Henry Hathaway',
 'crew_name_Henry King',
 'crew_name_Henry Koster',
 'crew_name_Henry Selick',
 'crew_name_Herbert Ross',
 'crew_name_Hironobu Sakaguchi',
 'crew_name_Hou Hsiao-hsien',
 'crew_name_Howard Hawks',
 'crew_name_Hoyt Yeatman',
 'crew_name_Hugh Johnson',
 'crew_name_Iain Softley',
 'crew_name_Ingmar Bergman',
 'crew_name_Ishirô Honda',
 'crew_name_Ivan Reitman',
 'crew_name_J. Lee Thompson',
 'crew_name_J.J. Abrams',
 'crew_name_Jack Conway',
 'crew_name_Jack Sholder',
 'crew_name_Jacques Tourneur',
 'crew_name_James Algar',
 'crew_name_James Bobin',
 'crew_name_James Cameron',
 'crew_name_James Foley',
 'crew_name_James Gunn',
 'crew_name_James Ivory',
 'crew_name_James L. Brooks',
 'crew_name_James Mangold',
 'crew_name_James McTeigue',
 'crew_name_James Wan',
 'crew_name_Jan Pinkava',
 'crew_name_Jan de Bont',
 'crew_name_Jared Bush',
 'crew_name_Javier Abad',
 'crew_name_Jay Roach',
 'crew_name_Jay Russell',
 'crew_name_Jean Negulesco',
 'crew_name_Jean Renoir',
 'crew_name_Jean-Jacques Annaud',
 'crew_name_Jean-Luc Godard',
 'crew_name_Jean-Pierre Jeunet',
 'crew_name_Jeff Newitt',
 'crew_name_Jennifer Lee',
 'crew_name_Jennifer Yuh Nelson',
 'crew_name_Jeremiah S. Chechik',
 'crew_name_Jerry Zucker',
 'crew_name_Jesse Dylan',
 'crew_name_Jesús Franco',
 'crew_name_Jill Culton',
 'crew_name_Jim Gillespie',
 'crew_name_Jim Wynorski',
 'crew_name_Jimmy Hayward',
 'crew_name_Joachim Rønning',
 'crew_name_Joby Harold',
 'crew_name_Joe Carnahan',
 'crew_name_Joe Dante',
 'crew_name_Joe Johnston',
 'crew_name_Joe Pytka',
 'crew_name_Joe Ranft',
 'crew_name_Joe Russo',
 'crew_name_Joe Wright',
 'crew_name_Joel Coen',
 'crew_name_Joel Schumacher',
 'crew_name_John Bruno',
 'crew_name_John Carpenter',
 'crew_name_John Dahl',
 'crew_name_John Ford',
 'crew_name_John Frankenheimer',
 'crew_name_John Herzfeld',
 'crew_name_John Huston',
 'crew_name_John Irvin',
 'crew_name_John Lasseter',
 'crew_name_John Lee Hancock',
 'crew_name_John Madden',
 'crew_name_John McTiernan',
 'crew_name_John Moore',
 'crew_name_John Musker',
 'crew_name_John Requa',
 'crew_name_John Sanford',
 'crew_name_John Singleton',
 'crew_name_John Stevenson',
 'crew_name_John Sturges',
 'crew_name_John Woo',
 'crew_name_Johnnie To',
 'crew_name_Jon Amiel',
 'crew_name_Jon Avnet',
 'crew_name_Jon Favreau',
 'crew_name_Jon M. Chu',
 'crew_name_Jon Turteltaub',
 'crew_name_Jonathan Demme',
 'crew_name_Jonathan Frakes',
 'crew_name_Jonathan Liebesman',
 'crew_name_Jonathan Mostow',
 'crew_name_Jordan Vogt-Roberts',
 'crew_name_Jorge Blanco',
 'crew_name_Joseph Kosinski',
 'crew_name_Joseph L. Mankiewicz',
 'crew_name_Joseph Losey',
 'crew_name_Joseph Ruben',
 'crew_name_Joseph Sargent',
 'crew_name_Josh Trank',
 'crew_name_Joss Whedon',
 'crew_name_José Padilha',
 'crew_name_Juan Diego Solanas',
 'crew_name_Judd Apatow',
 'crew_name_Julien Duvivier',
 'crew_name_Justin Kurzel',
 'crew_name_Justin Lin',
 'crew_name_Karey Kirkpatrick',
 'crew_name_Karyn Kusama',
 'crew_name_Kathryn Bigelow',
 'crew_name_Keenen Ivory Wayans',
 'crew_name_Kelly Asbury',
 'crew_name_Ken Annakin',
 'crew_name_Ken Loach',
 'crew_name_Kenneth Branagh',
 'crew_name_Kerry Conran',
 'crew_name_Kevin Bray',
 'crew_name_Kevin Costner',
 'crew_name_Kevin Lima',
 'crew_name_Kevin Macdonald',
 'crew_name_Kevin Reynolds',
 'crew_name_Kim Ki-duk',
 'crew_name_King Vidor',
 'crew_name_Kinka Usher',
 'crew_name_Kirk De Micco',
 'crew_name_Kirk Wise',
 'crew_name_Kris Pearn',
 'crew_name_Kunihiko Yuyama',
 'crew_name_Kyle Balda',
 'crew_name_Lana Wachowski',
 'crew_name_Larry Charles',
 'crew_name_Lars von Trier',
 'crew_name_Lasse Hallström',
 'crew_name_Lawrence Guterman',
 'crew_name_Lawrence Kasanoff',
 'crew_name_Lawrence Kasdan',
 'crew_name_Lee Tamahori',
 'crew_name_Lee Unkrich',
 'crew_name_Len Wiseman',
 'crew_name_Les Mayfield',
 'crew_name_Lewis Milestone',
 'crew_name_Lilly Wachowski',
 'crew_name_Lloyd Bacon',
 'crew_name_Lorna Cook',
 'crew_name_Louis Leterrier',
 'crew_name_Louis Malle',
 'crew_name_Luc Besson',
 'crew_name_Lucio Fulci',
 'crew_name_Luis Buñuel',
 'crew_name_Luis Mandoki',
 'crew_name_M. Night Shyamalan',
 'crew_name_Marc Forster',
 'crew_name_Marc Lawrence',
 'crew_name_Marc Webb',
 'crew_name_Marco Brambilla',
 'crew_name_Marco Ferreri',
 'crew_name_Marco Schnabel',
 'crew_name_Marcos Martínez',
 'crew_name_Marcus Nispel',
 'crew_name_Mario Bava',
 'crew_name_Mario Monicelli',
 'crew_name_Mark Andrews',
 'crew_name_Mark Dindal',
 'crew_name_Mark Neveldine',
 'crew_name_Mark Osborne',
 'crew_name_Mark Robson',
 'crew_name_Mark Steven Johnson',
 'crew_name_Mark Waters',
 'crew_name_Martin Brest',
 'crew_name_Martin Campbell',
 'crew_name_Martin Ritt',
 'crew_name_Martin Scorsese',
 'crew_name_Mathieu Kassovitz',
 'crew_name_Matt Reeves',
 'crew_name_Matthew Vaughn',
 'crew_name_McG',
 'crew_name_Mel Gibson',
 'crew_name_Mervyn LeRoy',
 'crew_name_Michael Anderson',
 'crew_name_Michael Apted',
 'crew_name_Michael Bay',
 'crew_name_Michael Caton-Jones',
 'crew_name_Michael Curtiz',
 'crew_name_Michael Lehmann',
 'crew_name_Michael Lembeck',
 'crew_name_Michael Mann',
 'crew_name_Michael Patrick King',
 'crew_name_Michael Powell',
 'crew_name_Michael Ritchie',
 'crew_name_Michael Winterbottom',
 'crew_name_Michel Gondry',
 'crew_name_Mikael Salomon',
 'crew_name_Mike Gabriel',
 'crew_name_Mike Mitchell',
 'crew_name_Mike Newell',
 'crew_name_Mike Nichols',
 'crew_name_Mike Thurmeier',
 'crew_name_Miloš Forman',
 'crew_name_Mimi Leder',
 'crew_name_Morten Tyldum',
 'crew_name_Motonori Sakakibara',
 'crew_name_Måns Mårlind',
 'crew_name_Nancy Meyers',
 'crew_name_Nathan Greno',
 'crew_name_Neil Burger',
 'crew_name_Neil Jordan',
 'crew_name_Neil Nightingale',
 'crew_name_Neill Blomkamp',
 'crew_name_Nicholas Ray',
 'crew_name_Nicholas Stoller',
 'crew_name_Nikolaj Arcel',
 'crew_name_Noam Murro',
 'crew_name_Nora Ephron',
 'crew_name_Norman Jewison',
 'crew_name_Norman Taurog',
 'crew_name_Norman Z. McLeod',
 'crew_name_Oliver Hirschbiegel',
 'crew_name_Oliver Stone',
 'crew_name_Otto Preminger',
 'crew_name_P.J. Hogan',
 'crew_name_Patrick Gilmore',
 'crew_name_Patrick Hughes',
 'crew_name_Patty Jenkins',
 'crew_name_Paul Brizzi',
 'crew_name_Paul Feig',
 'crew_name_Paul Greengrass',
 'crew_name_Paul King',
 'crew_name_Paul Tibbitt',
 'crew_name_Paul Verhoeven',
 'crew_name_Paul W.S. Anderson',
 'crew_name_Paul Weitz',
 'crew_name_Pete Docter',
 'crew_name_Peter Berg',
 'crew_name_Peter Billingsley',
 'crew_name_Peter Chelsom',
 'crew_name_Peter Farrelly',
 'crew_name_Peter Hyams',
 'crew_name_Peter Jackson',
 'crew_name_Peter Lord',
 'crew_name_Peter MacDonald',
 'crew_name_Peter Ramsey',
 'crew_name_Peter Segal',
 'crew_name_Peter Sohn',
 'crew_name_Peter Weir',
 'crew_name_Peter Yates',
 'crew_name_Peyton Reed',
 'crew_name_Phil Alden Robinson',
 'crew_name_Phil Karlson',
 'crew_name_Phil Lord',
 'crew_name_Phillip Noyce',
 'crew_name_Phyllida Lloyd',
 'crew_name_Pierre Coffin',
 'crew_name_Pierre Morel',
 'crew_name_Pitof',
 'crew_name_Pixote Hunt',
 'crew_name_Quentin Tarantino',
 'crew_name_Rainer Werner Fassbinder',
 'crew_name_Raja Gosnell',
 'crew_name_Ralph Zondag',
 'crew_name_Raman Hui',
 'crew_name_Rand Ravich',
 'crew_name_Randall Wallace',
 'crew_name_Raoul Walsh',
 'crew_name_Renny Harlin',
 'crew_name_Rich Moore',
 'crew_name_Richard Brooks',
 'crew_name_Richard Donner',
 'crew_name_Richard Fleischer',
 'crew_name_Richard LaGravenese',
 'crew_name_Richard Lester',
 'crew_name_Richard Thorpe',
 'crew_name_Ridley Scott',
 'crew_name_Rob Bowman',
 'crew_name_Rob Cohen',
 'crew_name_Rob Letterman',
 'crew_name_Rob Marshall',
 'crew_name_Rob Minkoff',
 'crew_name_Rob Reiner',
 'crew_name_Robert Aldrich',
 'crew_name_Robert Altman',
 'crew_name_Robert Butler',
 'crew_name_Robert De Niro',
 'crew_name_Robert Luketic',
 'crew_name_Robert Redford',
 'crew_name_Robert Rodriguez',
 'crew_name_Robert Schwentke',
 'crew_name_Robert Stevenhagen',
 'crew_name_Robert Stevenson',
 'crew_name_Robert Stromberg',
 'crew_name_Robert Wise',
 'crew_name_Robert Z. Leonard',
 'crew_name_Robert Zemeckis',
 'crew_name_Roberto Rossellini',
 'crew_name_Rod Lurie',
 'crew_name_Roger Allers',
 'crew_name_Roger Corman',
 'crew_name_Roger Donaldson',
 'crew_name_Roger Spottiswoode',
 'crew_name_Roland Emmerich',
 'crew_name_Roman Polanski',
 'crew_name_Ron Clements',
 'crew_name_Ron Howard',
 'crew_name_Ron Shelton',
 'crew_name_Ron Underwood',
 'crew_name_Ronald F. Maxwell',
 'crew_name_Roy Del Ruth',
 'crew_name_Roy Ward Baker',
 'crew_name_Ruben Fleischer',
 'crew_name_Rupert Sanders',
 'crew_name_Rupert Wyatt',
 'crew_name_Ryan Murphy',
 'crew_name_Ryan Polito',
 'crew_name_Sam Fell',
 'crew_name_Sam Mendes',
 'crew_name_Sam Raimi',
 'crew_name_Sam Weisman',
 'crew_name_Sam Wood',
 'crew_name_Samuel Fuller',
 'crew_name_Satyajit Ray',
 'crew_name_Scott Cooper',
 'crew_name_Scott Derrickson',
 'crew_name_Scott Stewart',
 'crew_name_Scott Waugh',
 'crew_name_Sean Anders',
 'crew_name_Sergei Bodrov',
 'crew_name_Sergio Martino',
 'crew_name_Seth Gordon',
 'crew_name_Seth MacFarlane',
 'crew_name_Shane Black',
 'crew_name_Shawn Levy',
 'crew_name_Shekhar Kapur',
 'crew_name_Shim Hyung-Rae',
 'crew_name_Sidney J. Furie',
 'crew_name_Sidney Lumet',
 'crew_name_Simon J. Smith',
 'crew_name_Simon Wells',
 'crew_name_Simon West',
 'crew_name_Spike Jonze',
 'crew_name_Spike Lee',
 'crew_name_Stanley Donen',
 'crew_name_Stanley Kubrick',
 'crew_name_Stanley Tong',
 'crew_name_Stefen Fangmeier',
 'crew_name_Stephen Chow',
 'crew_name_Stephen Frears',
 'crew_name_Stephen Herek',
 'crew_name_Stephen Hopkins',
 'crew_name_Stephen J. Anderson',
 'crew_name_Stephen Norrington',
 'crew_name_Stephen Sommers',
 'crew_name_Stephen T. Kay',
 "crew_name_Steve 'Spaz' Williams",
 'crew_name_Steve Antin',
 'crew_name_Steve Carr',
 'crew_name_Steve Hickner',
 'crew_name_Steve Martino',
 'crew_name_Steve Oedekerk',
 'crew_name_Steve Purcell',
 'crew_name_Steven Soderbergh',
 'crew_name_Steven Spielberg',
 'crew_name_Steven Zaillian',
 'crew_name_Stuart Baird',
 'crew_name_Stuart Beattie',
 'crew_name_Sydney Pollack',
 'crew_name_Sylvester Stallone',
 'crew_name_Takashi Miike',
 'crew_name_Tarsem Singh',
 'crew_name_Taylor Hackford',
 'crew_name_Ted Demme',
 'crew_name_Terence Fisher',
 'crew_name_Terrence Malick',
 'crew_name_Terry Gilliam',
 'crew_name_Thomas Carter',
 'crew_name_Thomas Langmann',
 'crew_name_Thor Freudenthal',
 'crew_name_Tim Burton',
 'crew_name_Tim Hill',
 'crew_name_Tim Johnson',
 'crew_name_Tim Miller',
 'crew_name_Tim Story',
 'crew_name_Timur Bekmambetov',
 'crew_name_Todd Phillips',
 'crew_name_Tom Dey',
 'crew_name_Tom Hooper',
 'crew_name_Tom McGrath',
 'crew_name_Tom Shadyac',
 'crew_name_Tom Tykwer',
 'crew_name_Tony Bancroft',
 'crew_name_Tony Bill',
 'crew_name_Tony Gilroy',
 'crew_name_Tony Scott',
 'crew_name_Travis Knight',
 'crew_name_Tsui Hark',
 'crew_name_Umberto Lenzi',
 'crew_name_Uwe Boll',
 'crew_name_Vicky Jenson',
 'crew_name_Vincent Ward',
 'crew_name_Vincente Minnelli',
 'crew_name_Vittorio De Sica',
 'crew_name_Volker Schlöndorff',
 'crew_name_W.S. Van Dyke',
 'crew_name_Wally Pfister',
 'crew_name_Walt Dohrn',
 'crew_name_Walter Hill',
 'crew_name_Walter Lang',
 'crew_name_Wayne Wang',
 'crew_name_Werner Herzog',
 'crew_name_Wes Ball',
 'crew_name_Wes Craven',
 'crew_name_Will Finn',
 'crew_name_Will Gluck',
 'crew_name_William A. Seiter',
 'crew_name_William A. Wellman',
 'crew_name_William Beaudine',
 'crew_name_William Castle',
 'crew_name_William Dieterle',
 'crew_name_William Friedkin',
 'crew_name_William K.L. Dickson ',
 'crew_name_William Keighley',
 'crew_name_William Wyler',
 'crew_name_Wim Wenders',
 'crew_name_Wolfgang Petersen',
 'crew_name_Woody Allen',
 'crew_name_Wych Kaosayananda',
 'crew_name_Yasujirō Ozu',
 'crew_name_Zack Snyder',
 'crew_name_Zhang Yimou',
 'crew_name_Éric Rohmer',
 'actor_name_Aidan Quinn',
 'actor_name_Al Pacino',
 'actor_name_Alan Arkin',
 'actor_name_Alan Cumming',
 'actor_name_Albert Brooks',
 'actor_name_Alec Baldwin',
 'actor_name_Alfre Woodard',
 'actor_name_Alfred Hitchcock',
 'actor_name_Alfred Molina',
 'actor_name_Alice Drummond',
 'actor_name_Allison Janney',
 'actor_name_Andie MacDowell',
 'actor_name_Andy García',
 'actor_name_Angela Bassett',
 'actor_name_Anjelica Huston',
 'actor_name_Anna Levine',
 'actor_name_Annabella Sciorra',
 'actor_name_Anne Bancroft',
 'actor_name_Anne Heche',
 'actor_name_Anthony Hopkins',
 'actor_name_Antonio Banderas',
 'actor_name_Armin Mueller-Stahl',
 'actor_name_Arnold Schwarzenegger',
 'actor_name_Art Evans',
 'actor_name_Arthur Tovey',
 'actor_name_Barbara Hershey',
 'actor_name_Bela Lugosi',
 'actor_name_Ben Affleck',
 'actor_name_Ben Kingsley',
 'actor_name_Ben Stiller',
 'actor_name_Bess Flowers',
 'actor_name_Beth Grant',
 "actor_name_Beverly D'Angelo",
 'actor_name_Bill Cobbs',
 'actor_name_Bill Murray',

In [43]:
column_index_df = pd.DataFrame(column_index)
column_index_df.columns = ['features']
column_index_df.head()

                features
0     genres_name_Action
1  genres_name_Adventure
2  genres_name_Animation
3     genres_name_Comedy
4      genres_name_Crime

In [44]:
column_index_df["category"] = column_index_df["features"].str.split('_').str[0]
column_index_df["feature"] = column_index_df["features"].str.split('_').str[-1]
column_index_df.head()

                features category    feature
0     genres_name_Action   genres     Action
1  genres_name_Adventure   genres  Adventure
2  genres_name_Animation   genres  Animation
3     genres_name_Comedy   genres     Comedy
4      genres_name_Crime   genres      Crime

In [96]:
column_index = column_index_df[["category", "feature"]]
column_index.head()

  category    feature
0   genres     Action
1   genres  Adventure
2   genres  Animation
3   genres     Comedy
4   genres      Crime

In [98]:
import collections

result = collections.defaultdict(lambda: collections.defaultdict(int))
for idx, rows in column_index.iterrows():
    result[rows['category']][rows['feature']] = 0

In [143]:
# search feature and update value to 1
# result['genres']['Action'] = 1
# result['genres'][genres_value]

1

In [118]:
res = pd.DataFrame(result)

In [117]:
pd.DataFrame(result).genres.dropna().index
pd.DataFrame(result).genres.dropna().values

Index(['Action', 'Adventure', 'Animation', 'Comedy', 'Crime', 'Documentary',
       'Drama', 'Family', 'Fantasy', 'Foreign', 'History', 'Horror', 'Music',
       'Mystery', 'Romance', 'Science Fiction', 'TV Movie', 'Thriller', 'War',
       'Western'],
      dtype='object')

In [129]:
res['crew'].dropna().values

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [136]:
feat = []
inpt =[]
for col in res.columns:
    feat.extend(res[col].dropna().index)
    inpt.extend(res[col].dropna().values)

In [138]:
print(feat[0])
print(inpt[0])

Action
1.0

                             genres  crew  actor  budgetbin  Profitable
0                               NaN   NaN    NaN        0.0         NaN
1                               NaN   NaN    NaN        0.0         NaN
2                               NaN   NaN    NaN        0.0         NaN
Abbas Kiarostami                NaN   0.0    NaN        NaN         NaN
Abel Ferrara                    NaN   0.0    NaN        NaN         NaN
Action                          1.0   NaN    NaN        NaN         NaN
Adam McKay                      NaN   0.0    NaN        NaN         NaN
Adam Shankman                   NaN   0.0    NaN        NaN         NaN
Adrian Lyne                     NaN   0.0    NaN        NaN         NaN
Adventure                       0.0   NaN    NaN        NaN         NaN
Aidan Quinn                     NaN   NaN    0.0        NaN         NaN
Aki Kaurismäki                  NaN   0.0    NaN        NaN         NaN
Akira Kurosawa                  NaN   0.0    NaN        NaN         NaN
Akiva Goldsman                  NaN   0.0    NaN        NaN         NaN
Akiva Schaffer                  NaN   0.0    NaN        NaN         NaN
Al Pacino                       NaN   NaN    0.0        NaN         NaN
Alain Resnais                   NaN   0.0    NaN        NaN         NaN
Alan Arkin                      NaN   NaN    0.0        NaN         NaN
Alan Cumming                    NaN   NaN    0.0        NaN         NaN
Alan J. Pakula                  NaN   0.0    NaN        NaN         NaN
Alan Parker                     NaN   0.0    NaN        NaN         NaN
Alan Taylor                     NaN   0.0    NaN        NaN         NaN
Albert Brooks                   NaN   NaN    0.0        NaN         NaN
Albert Hughes                   NaN   0.0    NaN        NaN         NaN
Albert Magnoli                  NaN   0.0    NaN        NaN         NaN
Albert Pyun                     NaN   0.0    NaN        NaN         NaN
Alec Baldwin                    NaN   NaN    0.0        NaN         NaN
Alejandro Amenábar              NaN   0.0    NaN        NaN         NaN
Alejandro González Iñárritu     NaN   0.0    NaN        NaN         NaN
Alessandro Carloni              NaN   0.0    NaN        NaN         NaN
...                             ...   ...    ...        ...         ...
Will Finn                       NaN   0.0    NaN        NaN         NaN
Will Gluck                      NaN   0.0    NaN        NaN         NaN
Will Patton                     NaN   NaN    0.0        NaN         NaN
Willem Dafoe                    NaN   NaN    0.0        NaN         NaN
William A. Seiter               NaN   0.0    NaN        NaN         NaN
William A. Wellman              NaN   0.0    NaN        NaN         NaN
William Beaudine                NaN   0.0    NaN        NaN         NaN
William Castle                  NaN   0.0    NaN        NaN         NaN
William Dieterle                NaN   0.0    NaN        NaN         NaN
William Forsythe                NaN   NaN    0.0        NaN         NaN
William Friedkin                NaN   0.0    NaN        NaN         NaN
William H. Macy                 NaN   NaN    0.0        NaN         NaN
William Hickey                  NaN   NaN    0.0        NaN         NaN
William Holden                  NaN   NaN    0.0        NaN         NaN
William Hurt                    NaN   NaN    0.0        NaN         NaN
William K.L. Dickson            NaN   0.0    NaN        NaN         NaN
William Keighley                NaN   0.0    NaN        NaN         NaN
William Shatner                 NaN   NaN    0.0        NaN         NaN
William Wyler                   NaN   0.0    NaN        NaN         NaN
Wim Wenders                     NaN   0.0    NaN        NaN         NaN
Winona Ryder                    NaN   NaN    0.0        NaN         NaN
Wolfgang Petersen               NaN   0.0    NaN        NaN         NaN
Woody Allen                     NaN   0.0    0.0        NaN         NaN
Woody Harrelson                 NaN   NaN    0.0        NaN         NaN
Wych Kaosayananda               NaN   0.0    NaN        NaN         NaN
Xander Berkeley                 NaN   NaN    0.0        NaN         NaN
Yasujirō Ozu                    NaN   0.0    NaN        NaN         NaN
Zack Snyder                     NaN   0.0    NaN        NaN         NaN
Zhang Yimou                     NaN   0.0    NaN        NaN         NaN
Éric Rohmer                     NaN   0.0    NaN        NaN         NaN

[1129 rows x 5 columns]

In [94]:
col_idx_dict['genres']

['Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western']

In [46]:
column_index['importance'] = 0
column_index.head()

  category    feature  importance
0   genres     Action           0
1   genres  Adventure           0
2   genres  Animation           0
3   genres     Comedy           0
4   genres      Crime           0

In [48]:
column_index.to_csv("../Resources/model_index.csv", index=False)

In [90]:
col = pd.read_csv("../Resources/model_index.csv")
#{‘dict’, ‘list’, ‘series’, ‘split’, ‘records’, ‘index’}
col = col.set_index('category')
tmp = col.to_dict('dict')
tmp

{'feature': {'genres': 'Western',
  'crew': 'Éric Rohmer',
  'actor': 'Xander Berkeley',
  'budgetbin': '2',
  'Profitable': 'Profitable'},
 'importance': {'genres': 0,
  'crew': 0,
  'actor': 0,
  'budgetbin': 0,
  'Profitable': 0}}

In [81]:
tmp['data']

[['genres', 'Action', 0],
 ['genres', 'Adventure', 0],
 ['genres', 'Animation', 0],
 ['genres', 'Comedy', 0],
 ['genres', 'Crime', 0],
 ['genres', 'Documentary', 0],
 ['genres', 'Drama', 0],
 ['genres', 'Family', 0],
 ['genres', 'Fantasy', 0],
 ['genres', 'Foreign', 0],
 ['genres', 'History', 0],
 ['genres', 'Horror', 0],
 ['genres', 'Music', 0],
 ['genres', 'Mystery', 0],
 ['genres', 'Romance', 0],
 ['genres', 'Science Fiction', 0],
 ['genres', 'TV Movie', 0],
 ['genres', 'Thriller', 0],
 ['genres', 'War', 0],
 ['genres', 'Western', 0],
 ['crew', 'Abbas Kiarostami', 0],
 ['crew', 'Abel Ferrara', 0],
 ['crew', 'Adam McKay', 0],
 ['crew', 'Adam Shankman', 0],
 ['crew', 'Adrian Lyne', 0],
 ['crew', 'Aki Kaurismäki', 0],
 ['crew', 'Akira Kurosawa', 0],
 ['crew', 'Akiva Goldsman', 0],
 ['crew', 'Akiva Schaffer', 0],
 ['crew', 'Alain Resnais', 0],
 ['crew', 'Alan J. Pakula', 0],
 ['crew', 'Alan Parker', 0],
 ['crew', 'Alan Taylor', 0],
 ['crew', 'Albert Hughes', 0],
 ['crew', 'Albert Magnoli', 0],
 ['crew', 'Albert Pyun', 0],
 ['crew', 'Alejandro Amenábar', 0],
 ['crew', 'Alejandro González Iñárritu', 0],
 ['crew', 'Alessandro Carloni', 0],
 ['crew', 'Alex Kurtzman', 0],
 ['crew', 'Alex Proyas', 0],
 ['crew', 'Alfonso Cuarón', 0],
 ['crew', 'Alfred Hitchcock', 0],
 ['crew', 'Allen Hughes', 0],
 ['crew', 'Anatole Litvak', 0],
 ['crew', 'Andrei Konchalovsky', 0],
 ['crew', 'Andrew Adamson', 0],
 ['crew', 'Andrew Davis', 0],
 ['crew', 'Andrew Stanton', 0],
 ['crew', 'Andrew V. McLaglen', 0],
 ['crew', 'Andrzej Bartkowiak', 0],
 ['crew', 'Andy Tennant', 0],
 ['crew', 'Ang Lee', 0],
 ['crew', 'Angelina Jolie', 0],
 ['crew', 'Angus MacLane', 0],
 ['crew', 'Anthony Hemingway', 0],
 ['crew', 'Anthony Mann', 0],
 ['crew', 'Anthony Minghella', 0],
 ['crew', 'Anthony Russo', 0],
 ['crew', 'Anthony Stacchi', 0],
 ['crew', 'Antoine Fuqua', 0],
 ['crew', 'Antonio Margheriti', 0],
 ['crew', 'Antony Hoffman', 0],
 ['crew', 'Arthur Hiller', 0],
 ['crew', 'Ash Brannon', 0],
 ['crew', 'Babak Najafi', 0],
 ['crew', 'Baltasar Kormákur', 0],
 ['crew', 'Barry Cook', 0],
 ['crew', 'Barry Levinson', 0],
 ['crew', 'Barry Sonnenfeld', 0],
 ['crew', 'Baz Luhrmann', 0],
 ['crew', 'Ben Affleck', 0],
 ['crew', 'Ben Stiller', 0],
 ['crew', 'Betty Thomas', 0],
 ['crew', 'Bibo Bergeron', 0],
 ['crew', 'Bill Condon', 0],
 ['crew', 'Billy Wilder', 0],
 ['crew', 'Björn Stein', 0],
 ['crew', 'Blake Edwards', 0],
 ['crew', 'Bobby Farrelly', 0],
 ['crew', 'Brad Bird', 0],
 ['crew', 'Brad Lewis', 0],
 ['crew', 'Brad Peyton', 0],
 ['crew', 'Brad Silberling', 0],
 ['crew', 'Breck Eisner', 0],
 ['crew', 'Brenda Chapman', 0],
 ['crew', 'Brett Ratner', 0],
 ['crew', 'Brian De Palma', 0],
 ['crew', 'Brian Fee', 0],
 ['crew', 'Brian Helgeland', 0],
 ['crew', 'Brian Levant', 0],
 ['crew', 'Brian Robbins', 0],
 ['crew', 'Brian Taylor', 0],
 ['crew', 'Bronwen Hughes', 0],
 ['crew', 'Bruce Beresford', 0],
 ['crew', 'Bryan Singer', 0],
 ['crew', 'Buster Keaton', 0],
 ['crew', 'Byron Howard', 0],
 ['crew', 'Cameron Crowe', 0],
 ['crew', 'Carl Rinsch', 0],
 ['crew', 'Carlo Verdone', 0],
 ['crew', 'Carlos Saldanha', 0],
 ['crew', 'Carlos Saura', 0],
 ['crew', 'Cecil B. DeMille', 0],
 ['crew', 'Cedric Nicolas-Troyan', 0],
 ['crew', 'Chang Cheh', 0],
 ['crew', 'Charles Band', 0],
 ['crew', 'Charles Shyer', 0],
 ['crew', 'Charlie Chaplin', 0],
 ['crew', 'Chris Buck', 0],
 ['crew', 'Chris Butler', 0],
 ['crew', 'Chris Columbus', 0],
 ['crew', 'Chris McKay', 0],
 ['crew', 'Chris Miller', 0],
 ['crew', 'Chris Renaud', 0],
 ['crew', 'Chris Sanders', 0],
 ['crew', 'Chris Wedge', 0],
 ['crew', 'Chris Weitz', 0],
 ['crew', 'Chris Williams', 0],
 ['crew', 'Christopher McQuarrie', 0],
 ['crew', 'Christopher Miller', 0],
 ['crew', 'Christopher Nolan', 0],
 ['crew', 'Chuck Jones', 0],
 ['crew', 'Chuck Russell', 0],
 ['crew', 'Clarence Brown', 0],
 ['crew', 'Clark Johnson', 0],
 ['crew', 'Claude Chabrol', 0],
 ['crew', 'Clay Kaytis', 0],
 ['crew', 'Clint Eastwood', 0],
 ['crew', 'Cody Cameron', 0],
 ['crew', 'Colin Trevorrow', 0],
 ['crew', 'Conrad Vernon', 0],
 ['crew', 'Craig Gillespie', 0],
 ['crew', 'D.J. Caruso', 0],
 ['crew', 'D.W. Griffith', 0],
 ['crew', 'Dan Bradley', 0],
 ['crew', 'Dan Scanlon', 0],
 ['crew', 'Dan St. Pierre', 0],
 ['crew', 'Daniel Espinosa', 0],
 ['crew', 'Daniel Lee', 0],
 ['crew', 'Danny Cannon', 0],
 ['crew', 'Darren Aronofsky', 0],
 ['crew', 'Dave Green', 0],
 ['crew', 'David Ayer', 0],
 ['crew', 'David Bowers', 0],
 ['crew', 'David Butler', 0],
 ['crew', 'David Cronenberg', 0],
 ['crew', 'David Dobkin', 0],
 ['crew', 'David Fincher', 0],
 ['crew', 'David Frankel', 0],
 ['crew', 'David Koepp', 0],
 ['crew', 'David Lowery', 0],
 ['crew', 'David Lynch', 0],
 ['crew', 'David O. Russell', 0],
 ['crew', 'David S. Goyer', 0],
 ['crew', 'David Silverman', 0],
 ['crew', 'David Slade', 0],
 ['crew', 'David Soren', 0],
 ['crew', 'David Twohy', 0],
 ['crew', 'David Yates', 0],
 ['crew', 'Dean DeBlois', 0],
 ['crew', 'Dean Israelite', 0],
 ['crew', 'Dean Parisot', 0],
 ['crew', 'Demian Lichtenstein', 0],
 ['crew', 'Dennis Dugan', 0],
 ['crew', 'Des McAnuff', 0],
 ['crew', 'Dino Risi', 0],
 ['crew', 'Dominic Sena', 0],
 ['crew', 'Don Bluth', 0],
 ['crew', 'Don Hahn', 0],
 ['crew', 'Don Hall', 0],
 ['crew', 'Don Michael Paul', 0],
 ['crew', 'Don Siegel', 0],
 ['crew', 'Donald Petrie', 0],
 ['crew', 'Doug Lefler', 0],
 ['crew', 'Doug Liman', 0],
 ['crew', 'Doug Sweetland', 0],
 ['crew', 'Douglas Sirk', 0],
 ['crew', 'Duncan Jones', 0],
 ['crew', 'Edgar Wright', 0],
 ['crew', 'Edward Dmytryk', 0],
 ['crew', 'Edward F. Cline', 0],
 ['crew', 'Edward Zwick', 0],
 ['crew', 'Elaine May', 0],
 ['crew', 'Enzo G. Castellari', 0],
 ['crew', 'Eric Brevig', 0],
 ['crew', 'Eric Darnell', 0],
 ['crew', 'Eric Goldberg', 0],
 ['crew', 'Eric Leighton', 0],
 ['crew', 'Ericson Core', 0],
 ['crew', 'Ernst Lubitsch', 0],
 ['crew', 'Espen Sandberg', 0],
 ['crew', 'F. Gary Gray', 0],
 ['crew', 'Federico Fellini', 0],
 ['crew', 'Fergal Reilly', 0],
 ['crew', 'Florent-Emilio Siri', 0],
 ['crew', 'Florian Henckel von Donnersmarck', 0],
 ['crew', 'Francis Ford Coppola', 0],
 ['crew', 'Francis Glebas', 0],
 ['crew', 'Francis Lawrence', 0],
 ['crew', 'Frank Borzage', 0],
 ['crew', 'Frank Capra', 0],
 ['crew', 'Frank Coraci', 0],
 ['crew', 'Frank Darabont', 0],
 ['crew', 'Frank Miller', 0],
 ['crew', 'Frank Oz', 0],
 ['crew', 'François Truffaut', 0],
 ['crew', 'Frederick Wiseman', 0],
 ['crew', 'Fritz Lang', 0],
 ['crew', 'Frédéric Forestier', 0],
 ['crew', 'Félix Enríquez Alcalá', 0],
 ['crew', 'Gabriele Muccino', 0],
 ['crew', 'Galen T. Chu', 0],
 ['crew', 'Gareth Edwards', 0],
 ['crew', 'Garry Marshall', 0],
 ['crew', 'Garth Jennings', 0],
 ['crew', 'Gary Fleder', 0],
 ['crew', 'Gary Goldman', 0],
 ['crew', 'Gary McKendry', 0],
 ['crew', 'Gary Ross', 0],
 ['crew', 'Gary Shore', 0],
 ['crew', 'Gary Sinyor', 0],
 ['crew', 'Gary Trousdale', 0],
 ['crew', 'Gary Winick', 0],
 ['crew', 'Gavin Hood', 0],
 ['crew', 'Gaëtan Brizzi', 0],
 ['crew', 'Genndy Tartakovsky', 0],
 ['crew', 'Geoff Murphy', 0],
 ['crew', 'George Clooney', 0],
 ['crew', 'George Cukor', 0],
 ['crew', 'George Lucas', 0],
 ['crew', 'George Marshall', 0],
 ['crew', 'George Miller', 0],
 ['crew', 'George Nolfi', 0],
 ['crew', 'George Sidney', 0],
 ['crew', 'George Stevens', 0],
 ['crew', 'Georges Méliès', 0],
 ['crew', 'Gerald Thomas', 0],
 ['crew', 'Gil Kenan', 0],
 ['crew', 'Glenn Ficarra', 0],
 ['crew', 'Gordon Douglas', 0],
 ['crew', 'Gore Verbinski', 0],
 ['crew', 'Graham Annable', 0],
 ['crew', 'Gregory Hoblit', 0],
 ['crew', 'Griffin Dunne', 0],
 ['crew', 'Guillermo del Toro', 0],
 ['crew', 'Gus Van Sant', 0],
 ['crew', 'Guy Ritchie', 0],
 ['crew', 'Gábor Csupó', 0],
 ['crew', 'Harald Zwart', 0],
 ['crew', 'Harold Becker', 0],
 ['crew', 'Harold Ramis', 0],
 ['crew', 'Hendel Butoy', 0],
 ['crew', 'Henry Hathaway', 0],
 ['crew', 'Henry King', 0],
 ['crew', 'Henry Koster', 0],
 ['crew', 'Henry Selick', 0],
 ['crew', 'Herbert Ross', 0],
 ['crew', 'Hironobu Sakaguchi', 0],
 ['crew', 'Hou Hsiao-hsien', 0],
 ['crew', 'Howard Hawks', 0],
 ['crew', 'Hoyt Yeatman', 0],
 ['crew', 'Hugh Johnson', 0],
 ['crew', 'Iain Softley', 0],
 ['crew', 'Ingmar Bergman', 0],
 ['crew', 'Ishirô Honda', 0],
 ['crew', 'Ivan Reitman', 0],
 ['crew', 'J. Lee Thompson', 0],
 ['crew', 'J.J. Abrams', 0],
 ['crew', 'Jack Conway', 0],
 ['crew', 'Jack Sholder', 0],
 ['crew', 'Jacques Tourneur', 0],
 ['crew', 'James Algar', 0],
 ['crew', 'James Bobin', 0],
 ['crew', 'James Cameron', 0],
 ['crew', 'James Foley', 0],
 ['crew', 'James Gunn', 0],
 ['crew', 'James Ivory', 0],
 ['crew', 'James L. Brooks', 0],
 ['crew', 'James Mangold', 0],
 ['crew', 'James McTeigue', 0],
 ['crew', 'James Wan', 0],
 ['crew', 'Jan Pinkava', 0],
 ['crew', 'Jan de Bont', 0],
 ['crew', 'Jared Bush', 0],
 ['crew', 'Javier Abad', 0],
 ['crew', 'Jay Roach', 0],
 ['crew', 'Jay Russell', 0],
 ['crew', 'Jean Negulesco', 0],
 ['crew', 'Jean Renoir', 0],
 ['crew', 'Jean-Jacques Annaud', 0],
 ['crew', 'Jean-Luc Godard', 0],
 ['crew', 'Jean-Pierre Jeunet', 0],
 ['crew', 'Jeff Newitt', 0],
 ['crew', 'Jennifer Lee', 0],
 ['crew', 'Jennifer Yuh Nelson', 0],
 ['crew', 'Jeremiah S. Chechik', 0],
 ['crew', 'Jerry Zucker', 0],
 ['crew', 'Jesse Dylan', 0],
 ['crew', 'Jesús Franco', 0],
 ['crew', 'Jill Culton', 0],
 ['crew', 'Jim Gillespie', 0],
 ['crew', 'Jim Wynorski', 0],
 ['crew', 'Jimmy Hayward', 0],
 ['crew', 'Joachim Rønning', 0],
 ['crew', 'Joby Harold', 0],
 ['crew', 'Joe Carnahan', 0],
 ['crew', 'Joe Dante', 0],
 ['crew', 'Joe Johnston', 0],
 ['crew', 'Joe Pytka', 0],
 ['crew', 'Joe Ranft', 0],
 ['crew', 'Joe Russo', 0],
 ['crew', 'Joe Wright', 0],
 ['crew', 'Joel Coen', 0],
 ['crew', 'Joel Schumacher', 0],
 ['crew', 'John Bruno', 0],
 ['crew', 'John Carpenter', 0],
 ['crew', 'John Dahl', 0],
 ['crew', 'John Ford', 0],
 ['crew', 'John Frankenheimer', 0],
 ['crew', 'John Herzfeld', 0],
 ['crew', 'John Huston', 0],
 ['crew', 'John Irvin', 0],
 ['crew', 'John Lasseter', 0],
 ['crew', 'John Lee Hancock', 0],
 ['crew', 'John Madden', 0],
 ['crew', 'John McTiernan', 0],
 ['crew', 'John Moore', 0],
 ['crew', 'John Musker', 0],
 ['crew', 'John Requa', 0],
 ['crew', 'John Sanford', 0],
 ['crew', 'John Singleton', 0],
 ['crew', 'John Stevenson', 0],
 ['crew', 'John Sturges', 0],
 ['crew', 'John Woo', 0],
 ['crew', 'Johnnie To', 0],
 ['crew', 'Jon Amiel', 0],
 ['crew', 'Jon Avnet', 0],
 ['crew', 'Jon Favreau', 0],
 ['crew', 'Jon M. Chu', 0],
 ['crew', 'Jon Turteltaub', 0],
 ['crew', 'Jonathan Demme', 0],
 ['crew', 'Jonathan Frakes', 0],
 ['crew', 'Jonathan Liebesman', 0],
 ['crew', 'Jonathan Mostow', 0],
 ['crew', 'Jordan Vogt-Roberts', 0],
 ['crew', 'Jorge Blanco', 0],
 ['crew', 'Joseph Kosinski', 0],
 ['crew', 'Joseph L. Mankiewicz', 0],
 ['crew', 'Joseph Losey', 0],
 ['crew', 'Joseph Ruben', 0],
 ['crew', 'Joseph Sargent', 0],
 ['crew', 'Josh Trank', 0],
 ['crew', 'Joss Whedon', 0],
 ['crew', 'José Padilha', 0],
 ['crew', 'Juan Diego Solanas', 0],
 ['crew', 'Judd Apatow', 0],
 ['crew', 'Julien Duvivier', 0],
 ['crew', 'Justin Kurzel', 0],
 ['crew', 'Justin Lin', 0],
 ['crew', 'Karey Kirkpatrick', 0],
 ['crew', 'Karyn Kusama', 0],
 ['crew', 'Kathryn Bigelow', 0],
 ['crew', 'Keenen Ivory Wayans', 0],
 ['crew', 'Kelly Asbury', 0],
 ['crew', 'Ken Annakin', 0],
 ['crew', 'Ken Loach', 0],
 ['crew', 'Kenneth Branagh', 0],
 ['crew', 'Kerry Conran', 0],
 ['crew', 'Kevin Bray', 0],
 ['crew', 'Kevin Costner', 0],
 ['crew', 'Kevin Lima', 0],
 ['crew', 'Kevin Macdonald', 0],
 ['crew', 'Kevin Reynolds', 0],
 ['crew', 'Kim Ki-duk', 0],
 ['crew', 'King Vidor', 0],
 ['crew', 'Kinka Usher', 0],
 ['crew', 'Kirk De Micco', 0],
 ['crew', 'Kirk Wise', 0],
 ['crew', 'Kris Pearn', 0],
 ['crew', 'Kunihiko Yuyama', 0],
 ['crew', 'Kyle Balda', 0],
 ['crew', 'Lana Wachowski', 0],
 ['crew', 'Larry Charles', 0],
 ['crew', 'Lars von Trier', 0],
 ['crew', 'Lasse Hallström', 0],
 ['crew', 'Lawrence Guterman', 0],
 ['crew', 'Lawrence Kasanoff', 0],
 ['crew', 'Lawrence Kasdan', 0],
 ['crew', 'Lee Tamahori', 0],
 ['crew', 'Lee Unkrich', 0],
 ['crew', 'Len Wiseman', 0],
 ['crew', 'Les Mayfield', 0],
 ['crew', 'Lewis Milestone', 0],
 ['crew', 'Lilly Wachowski', 0],
 ['crew', 'Lloyd Bacon', 0],
 ['crew', 'Lorna Cook', 0],
 ['crew', 'Louis Leterrier', 0],
 ['crew', 'Louis Malle', 0],
 ['crew', 'Luc Besson', 0],
 ['crew', 'Lucio Fulci', 0],
 ['crew', 'Luis Buñuel', 0],
 ['crew', 'Luis Mandoki', 0],
 ['crew', 'M. Night Shyamalan', 0],
 ['crew', 'Marc Forster', 0],
 ['crew', 'Marc Lawrence', 0],
 ['crew', 'Marc Webb', 0],
 ['crew', 'Marco Brambilla', 0],
 ['crew', 'Marco Ferreri', 0],
 ['crew', 'Marco Schnabel', 0],
 ['crew', 'Marcos Martínez', 0],
 ['crew', 'Marcus Nispel', 0],
 ['crew', 'Mario Bava', 0],
 ['crew', 'Mario Monicelli', 0],
 ['crew', 'Mark Andrews', 0],
 ['crew', 'Mark Dindal', 0],
 ['crew', 'Mark Neveldine', 0],
 ['crew', 'Mark Osborne', 0],
 ['crew', 'Mark Robson', 0],
 ['crew', 'Mark Steven Johnson', 0],
 ['crew', 'Mark Waters', 0],
 ['crew', 'Martin Brest', 0],
 ['crew', 'Martin Campbell', 0],
 ['crew', 'Martin Ritt', 0],
 ['crew', 'Martin Scorsese', 0],
 ['crew', 'Mathieu Kassovitz', 0],
 ['crew', 'Matt Reeves', 0],
 ['crew', 'Matthew Vaughn', 0],
 ['crew', 'McG', 0],
 ['crew', 'Mel Gibson', 0],
 ['crew', 'Mervyn LeRoy', 0],
 ['crew', 'Michael Anderson', 0],
 ['crew', 'Michael Apted', 0],
 ['crew', 'Michael Bay', 0],
 ['crew', 'Michael Caton-Jones', 0],
 ['crew', 'Michael Curtiz', 0],
 ['crew', 'Michael Lehmann', 0],
 ['crew', 'Michael Lembeck', 0],
 ['crew', 'Michael Mann', 0],
 ['crew', 'Michael Patrick King', 0],
 ['crew', 'Michael Powell', 0],
 ['crew', 'Michael Ritchie', 0],
 ['crew', 'Michael Winterbottom', 0],
 ['crew', 'Michel Gondry', 0],
 ['crew', 'Mikael Salomon', 0],
 ['crew', 'Mike Gabriel', 0],
 ['crew', 'Mike Mitchell', 0],
 ['crew', 'Mike Newell', 0],
 ['crew', 'Mike Nichols', 0],
 ['crew', 'Mike Thurmeier', 0],
 ['crew', 'Miloš Forman', 0],
 ['crew', 'Mimi Leder', 0],
 ['crew', 'Morten Tyldum', 0],
 ['crew', 'Motonori Sakakibara', 0],
 ['crew', 'Måns Mårlind', 0],
 ['crew', 'Nancy Meyers', 0],
 ['crew', 'Nathan Greno', 0],
 ['crew', 'Neil Burger', 0],
 ['crew', 'Neil Jordan', 0],
 ['crew', 'Neil Nightingale', 0],
 ['crew', 'Neill Blomkamp', 0],
 ['crew', 'Nicholas Ray', 0],
 ['crew', 'Nicholas Stoller', 0],
 ['crew', 'Nikolaj Arcel', 0],
 ['crew', 'Noam Murro', 0],
 ['crew', 'Nora Ephron', 0],
 ['crew', 'Norman Jewison', 0],
 ['crew', 'Norman Taurog', 0],
 ['crew', 'Norman Z. McLeod', 0],
 ['crew', 'Oliver Hirschbiegel', 0],
 ['crew', 'Oliver Stone', 0],
 ['crew', 'Otto Preminger', 0],
 ['crew', 'P.J. Hogan', 0],
 ['crew', 'Patrick Gilmore', 0],
 ['crew', 'Patrick Hughes', 0],
 ['crew', 'Patty Jenkins', 0],
 ['crew', 'Paul Brizzi', 0],
 ['crew', 'Paul Feig', 0],
 ['crew', 'Paul Greengrass', 0],
 ['crew', 'Paul King', 0],
 ['crew', 'Paul Tibbitt', 0],
 ['crew', 'Paul Verhoeven', 0],
 ['crew', 'Paul W.S. Anderson', 0],
 ['crew', 'Paul Weitz', 0],
 ['crew', 'Pete Docter', 0],
 ['crew', 'Peter Berg', 0],
 ['crew', 'Peter Billingsley', 0],
 ['crew', 'Peter Chelsom', 0],
 ['crew', 'Peter Farrelly', 0],
 ['crew', 'Peter Hyams', 0],
 ['crew', 'Peter Jackson', 0],
 ['crew', 'Peter Lord', 0],
 ['crew', 'Peter MacDonald', 0],
 ['crew', 'Peter Ramsey', 0],
 ['crew', 'Peter Segal', 0],
 ['crew', 'Peter Sohn', 0],
 ['crew', 'Peter Weir', 0],
 ['crew', 'Peter Yates', 0],
 ['crew', 'Peyton Reed', 0],
 ['crew', 'Phil Alden Robinson', 0],
 ['crew', 'Phil Karlson', 0],
 ['crew', 'Phil Lord', 0],
 ['crew', 'Phillip Noyce', 0],
 ['crew', 'Phyllida Lloyd', 0],
 ['crew', 'Pierre Coffin', 0],
 ['crew', 'Pierre Morel', 0],
 ['crew', 'Pitof', 0],
 ['crew', 'Pixote Hunt', 0],
 ['crew', 'Quentin Tarantino', 0],
 ['crew', 'Rainer Werner Fassbinder', 0],
 ['crew', 'Raja Gosnell', 0],
 ['crew', 'Ralph Zondag', 0],
 ['crew', 'Raman Hui', 0],
 ['crew', 'Rand Ravich', 0],
 ['crew', 'Randall Wallace', 0],
 ['crew', 'Raoul Walsh', 0],
 ['crew', 'Renny Harlin', 0],
 ['crew', 'Rich Moore', 0],
 ['crew', 'Richard Brooks', 0],
 ['crew', 'Richard Donner', 0],
 ['crew', 'Richard Fleischer', 0],
 ['crew', 'Richard LaGravenese', 0],
 ['crew', 'Richard Lester', 0],
 ['crew', 'Richard Thorpe', 0],
 ['crew', 'Ridley Scott', 0],
 ['crew', 'Rob Bowman', 0],
 ['crew', 'Rob Cohen', 0],
 ['crew', 'Rob Letterman', 0],
 ['crew', 'Rob Marshall', 0],
 ['crew', 'Rob Minkoff', 0],
 ['crew', 'Rob Reiner', 0],
 ['crew', 'Robert Aldrich', 0],
 ['crew', 'Robert Altman', 0],
 ['crew', 'Robert Butler', 0],
 ['crew', 'Robert De Niro', 0],
 ['crew', 'Robert Luketic', 0],
 ['crew', 'Robert Redford', 0],
 ['crew', 'Robert Rodriguez', 0],
 ['crew', 'Robert Schwentke', 0],
 ['crew', 'Robert Stevenhagen', 0],
 ['crew', 'Robert Stevenson', 0],
 ['crew', 'Robert Stromberg', 0],
 ['crew', 'Robert Wise', 0],
 ['crew', 'Robert Z. Leonard', 0],
 ['crew', 'Robert Zemeckis', 0],
 ['crew', 'Roberto Rossellini', 0],
 ['crew', 'Rod Lurie', 0],
 ['crew', 'Roger Allers', 0],
 ['crew', 'Roger Corman', 0],
 ['crew', 'Roger Donaldson', 0],
 ['crew', 'Roger Spottiswoode', 0],
 ['crew', 'Roland Emmerich', 0],
 ['crew', 'Roman Polanski', 0],
 ['crew', 'Ron Clements', 0],
 ['crew', 'Ron Howard', 0],
 ['crew', 'Ron Shelton', 0],
 ['crew', 'Ron Underwood', 0],
 ['crew', 'Ronald F. Maxwell', 0],
 ['crew', 'Roy Del Ruth', 0],
 ['crew', 'Roy Ward Baker', 0],
 ['crew', 'Ruben Fleischer', 0],
 ['crew', 'Rupert Sanders', 0],
 ['crew', 'Rupert Wyatt', 0],
 ['crew', 'Ryan Murphy', 0],
 ['crew', 'Ryan Polito', 0],
 ['crew', 'Sam Fell', 0],
 ['crew', 'Sam Mendes', 0],
 ['crew', 'Sam Raimi', 0],
 ['crew', 'Sam Weisman', 0],
 ['crew', 'Sam Wood', 0],
 ['crew', 'Samuel Fuller', 0],
 ['crew', 'Satyajit Ray', 0],
 ['crew', 'Scott Cooper', 0],
 ['crew', 'Scott Derrickson', 0],
 ['crew', 'Scott Stewart', 0],
 ['crew', 'Scott Waugh', 0],
 ['crew', 'Sean Anders', 0],
 ['crew', 'Sergei Bodrov', 0],
 ['crew', 'Sergio Martino', 0],
 ['crew', 'Seth Gordon', 0],
 ['crew', 'Seth MacFarlane', 0],
 ['crew', 'Shane Black', 0],
 ['crew', 'Shawn Levy', 0],
 ['crew', 'Shekhar Kapur', 0],
 ['crew', 'Shim Hyung-Rae', 0],
 ['crew', 'Sidney J. Furie', 0],
 ['crew', 'Sidney Lumet', 0],
 ['crew', 'Simon J. Smith', 0],
 ['crew', 'Simon Wells', 0],
 ['crew', 'Simon West', 0],
 ['crew', 'Spike Jonze', 0],
 ['crew', 'Spike Lee', 0],
 ['crew', 'Stanley Donen', 0],
 ['crew', 'Stanley Kubrick', 0],
 ['crew', 'Stanley Tong', 0],
 ['crew', 'Stefen Fangmeier', 0],
 ['crew', 'Stephen Chow', 0],
 ['crew', 'Stephen Frears', 0],
 ['crew', 'Stephen Herek', 0],
 ['crew', 'Stephen Hopkins', 0],
 ['crew', 'Stephen J. Anderson', 0],
 ['crew', 'Stephen Norrington', 0],
 ['crew', 'Stephen Sommers', 0],
 ['crew', 'Stephen T. Kay', 0],
 ['crew', "Steve 'Spaz' Williams", 0],
 ['crew', 'Steve Antin', 0],
 ['crew', 'Steve Carr', 0],
 ['crew', 'Steve Hickner', 0],
 ['crew', 'Steve Martino', 0],
 ['crew', 'Steve Oedekerk', 0],
 ['crew', 'Steve Purcell', 0],
 ['crew', 'Steven Soderbergh', 0],
 ['crew', 'Steven Spielberg', 0],
 ['crew', 'Steven Zaillian', 0],
 ['crew', 'Stuart Baird', 0],
 ['crew', 'Stuart Beattie', 0],
 ['crew', 'Sydney Pollack', 0],
 ['crew', 'Sylvester Stallone', 0],
 ['crew', 'Takashi Miike', 0],
 ['crew', 'Tarsem Singh', 0],
 ['crew', 'Taylor Hackford', 0],
 ['crew', 'Ted Demme', 0],
 ['crew', 'Terence Fisher', 0],
 ['crew', 'Terrence Malick', 0],
 ['crew', 'Terry Gilliam', 0],
 ['crew', 'Thomas Carter', 0],
 ['crew', 'Thomas Langmann', 0],
 ['crew', 'Thor Freudenthal', 0],
 ['crew', 'Tim Burton', 0],
 ['crew', 'Tim Hill', 0],
 ['crew', 'Tim Johnson', 0],
 ['crew', 'Tim Miller', 0],
 ['crew', 'Tim Story', 0],
 ['crew', 'Timur Bekmambetov', 0],
 ['crew', 'Todd Phillips', 0],
 ['crew', 'Tom Dey', 0],
 ['crew', 'Tom Hooper', 0],
 ['crew', 'Tom McGrath', 0],
 ['crew', 'Tom Shadyac', 0],
 ['crew', 'Tom Tykwer', 0],
 ['crew', 'Tony Bancroft', 0],
 ['crew', 'Tony Bill', 0],
 ['crew', 'Tony Gilroy', 0],
 ['crew', 'Tony Scott', 0],
 ['crew', 'Travis Knight', 0],
 ['crew', 'Tsui Hark', 0],
 ['crew', 'Umberto Lenzi', 0],
 ['crew', 'Uwe Boll', 0],

In [54]:
tmp['category']

TypeError: list indices must be integers or slices, not str