In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient()
db=client.movies_predictor
directors = db.directors_distinct
df = pd.read_csv("directors.csv") #csv file which you want to import
records_ = eval(df.to_json(orient = 'records'))
result = db.directors_distinct.insert_many(records_ )
df.head()

         crew_name
0   Sydney Pollack
1     Oliver Stone
2  Martin Scorsese
3      Woody Allen
4     Ridley Scott

In [3]:
json_csv = pd.read_csv("directors.csv").to_json(orient='records')